body{
	color: #222;
	font: 18px/30px Georgia, serif;
	width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-font-smoothing: antialiased;
}

.logo a {
	background: url('../sportblog/logo.png') left top no-repeat;
	display: block;
	width: 960px;
	height: 105px;
	text-indent: -9999px;
	margin-left: 190px;
}

p {
	margin: 0 0 24px;
}

ul{
text-align: center;
	
}


.logo {
margin: 0;
position: relative;
top: -25px;
z-index: 2;

}

.post-header {
	text-align: center;
}

.post-meta {
	font-style: italic;
}

.post-meta time:before {
	content: ' · ';
	font-style: normal;
}


.author{
font-family: 'Stint Ultra Condensed' , sans-serif ;
font-style: normal;	
font-weight: 800;
text-transform: uppercase;
letter-spacing: 2px;

}



.post-title {
	font-size: 48px;
	line-height: 56px;
	font-weight: 800;
	font-family: 'Stint Ultra Condensed' , sans-serif ;
	letter-spacing: 1px;
	margin: 0 0 5px;

}

.cover {
	background: #fff url('../sportblog/UFC/background.png') 50% 30px no-repeat ;
	height: 239px ;
	margin-top: -70px;
	position: relative;
	z-index: 1;
}

.badge {
background: #bb3825;
display: block;	
width: 120px;
height: 120px;
border-radius: 50%;
color: #fff;
font-size: 54px;
line-height: 40px;
font-weight: 800;
font-family: 'Stint Ultra Condensed' , sans-serif;
letter-spacing: -2px;
text-align: center;
text-decoration: none;
position: absolute;

bottom: 50px;

}

a {
 text-decoration: none;
 color: #245c3;
}

a:hover,
a:focus {
	text-decoration: underline;
}

.badge small {
	font-size: 16px;
	line-height: 16px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 0;
	font-family: Georgia, serif;
	display: block;
	padding-top: 28px;

}

.post-content p {
	margin-left: 130px;
	margin-right: 130px;

}




.post-content p:first-child {
font-size: 24px;
line-height: 36px;	
margin-left: 0;
margin-right: 0; 
}


.float-left {
	float: left;
}


.float-right {
	float: right;
}


.pullquote {
	color: #787878;
	max-width: 300px;

}

.pullquote.float-left {
	margin: 24px 34px 24px 0;

}

.pullquote.float-right {
	margin: 24px 0 24px 34px;

}


.pullquote q {
	font-size: 24px;
	line-height: 36px;
	font-style: italic;

}



.pullquote ol,
.pullquote ul {
	list-style: none;
	padding-left: 0;
}

.pullquote li {
	border-bottom: 1px dotted #aaa;
	padding: 2px 10px;

}


.pullquote li:last-child {
	border: none;
}

.btn {
	color: white;
    background: blue;
    padding: 6px 12px;
    border: 1px solid #bfbfbf;
    font-size: 16px;
    text-decoration: none;



